 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
  color: #fff;
 }

 html,body{
  height: 100%;
  width: 100%;
 }

 body {
  background-color:#111 ;
 }

 .parent{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
 }
 .card {
    border: 2px solid #fff;
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #333;
 }
 .card img {
    height: 100px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
 }
 .card p{
    margin:20px 0px ;
 }

 .card button {
    padding: 10px 20px;
    background-color: #fff;
    color: #111;
    border: none;
    border-radius: 5px;

 }